channels~=3.0.5
Django==3.2.9
django_environ==0.8.1
djangorestframework==3.13.1
drf_yasg==1.17.1
environ==1.0
selenium==4.3.0
vonage==3.0.0
django-webpush
allauth
celery~=5.2.7
asgiref~=3.4.1
django-filter~=22.1
pytz~=2021.3